<div id="<%= dom_id site_update %>">
  <p>
    <strong>Update title:</strong>
    <%= site_update.update_title %>
  </p>

  <p>
    <strong>Update description:</strong>
    <%= site_update.update_description %>
  </p>

  <p>
    <strong>Update schedule:</strong>
    <%= site_update.update_schedule %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= site_update.admin_id %>
  </p>

</div>
