<div id="<%= dom_id complaint_form %>">
  <p>
    <strong>Complaint title:</strong>
    <%= complaint_form.complaint_title %>
  </p>

  <p>
    <strong>Complaint description:</strong>
    <%= complaint_form.complaint_description %>
  </p>

  <p>
    <strong>Time of event:</strong>
    <%= complaint_form.time_of_event %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= complaint_form.user_id %>
  <%# </p> %>

</div>
