<p style="color: green"><%= notice %></p>

<%= render @complaint_form %>

<div>
  <%= link_to "Edit this complaint form", edit_complaint_form_path(@complaint_form) %> |
  <%# <%= link_to "Back to complaint forms", complaint_forms_path %>

  <%= button_to "Destroy this complaint form", @complaint_form, method: :delete %>
  <%= link_to "Back to the main page", user_registration_url, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
</div>
