<div id="<%= dom_id completed_website %>">
  <p>
    <strong>Website name:</strong>
    <%= completed_website.website_name %>
  </p>

  <p>
    <strong>Website description:</strong>
    <%= completed_website.website_description %>
  </p>

  <p>
    <strong>Completion period:</strong>
    <%= completed_website.completion_period %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= completed_website.admin_id %>
  </p>

</div>
