<div id="<%= dom_id user_information %>">
  <p>
    <strong>Name:</strong>
    <%= user_information.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user_information.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user_information.bio %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= user_information.user_id %>
  <%# </p> %>

</div>
